:root {
  --cv-font: "Inter", sans-serif;
  --font-size: 16px;
  --heading-size: 40px;
  --color-section-heading: #686868;
}

/*Markiert ative Elemente*/
.active::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 1px dashed #049aff;
  border-radius: 15px;
  pointer-events: none;
}

.horizontal-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.horizontal-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.cv-content-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  min-height: 1414px;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
}

.cv-content-container * {
  font-family: var(--cv-font);
  font-weight: 300;
}

header {
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

header:hover {
  transform: scale(1.01);
}

.cv-header {
  min-height: 50px;
  height: auto;
  background-color: black;
  padding: 20px 10px 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-header h2 {
  color: white;
  font-size: var(--heading-size);
  margin-bottom: 10px;
}

.cv-header p,
.cv-header span {
  color: white;
  font-size: var(--font-size);
}

.cv-header > div {
  gap: 23px;
}

section {
  margin: 75px 50px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.01);
}

section h3 {
  font-size: var(--font-size);
  color: var(--color-section-heading);
}

section hr {
  border: none;
  background-color: var(--color-section-heading);
  height: 2px;
  transform: translateY(12px);
  margin-left: 30px;
}

section .data-parent-container {
  margin-top: 50px;
}

section .data-container {
  display: grid;
  grid-template-columns: 35% 1fr;
  margin: 20px 0;
}
