:root {
  --cv-font: "Inter", sans-serif;
  --font-size: 16px;
  --heading-size: 40px;
  --color-section-heading: #686868;
}

/*Markiert aktive Elemente*/
.active::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 2px dashed var(--main-color);
  border-radius: 15px;
  pointer-events: none;
}

.horizontal-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centrate-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.cv-content-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  min-height: 1414px;
  box-shadow: var(--box-shadow-settings);
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;
  align-items: start; /* Richtet das Item oben in der Reihe aus */
  align-content: start;
}

.cv-content-container * {
  font-family: var(--cv-font);
  font-weight: 300;
}

header {
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

header:hover {
  transform: scale(1.01);
}

.cv-header {
  min-height: 50px;
  height: auto;
  background-color: black;
  padding: 20px 10px 35px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-header h2 {
  color: white;
  font-size: var(--heading-size);
  margin-bottom: 10px;
}

.cv-header p,
.cv-header span {
  color: white;
  font-size: var(--font-size);
}

.cv-header > div {
  gap: 23px;
}

section {
  margin: 50px 75px 0 75px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.01);
}

section h3 {
  font-size: var(--font-size);
  color: var(--color-section-heading);
}

section hr {
  border: none;
  background-color: var(--color-section-heading);
  height: 2px;
  transform: translateY(12px);
  margin-left: 30px;
}

section .data-parent-container {
  margin-top: 50px;
}

section .data-container {
  display: grid;
  grid-template-columns: 35% 1fr;
  margin: 20px 0;
}

/*Deletebuton Styles werden größtenteils von dem Editor button übernommen*/
section .delete-button {
  position: relative;
  top: -2px;
}

section.active .delete-button {
  display: block;
}

section.active:has(.delete-button:hover):before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 2px solid red;
  border-radius: 15px;
  pointer-events: none;
}

/*Draghandle Styles*/
.drag-handle {
  cursor: grab;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 30px;
  display: none;
}

.sortable-item-wrapper:has(section.active) .drag-handle {
  display: block;
  animation: popInBounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
