:root {
  --main-color: #009fe3;
  --box-shadow-settings:
    0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

html * {
  font-weight: 400;
}

:focus {
  outline-offset: 10px;
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 50px 20px 0 20px;
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
  user-select: none;
  will-change: transform;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}
